*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target

*.idea
*.iml

.DS_Store

read_logs_zabbix_client.sh
read_logs_zabbix_server.sh
backup_config_zabbix_server.sh

dynamo.log
build.log
